/*  PRESSET
green: #04E762
greenLight: #7AC398
greenStrong: #5DFF00


deepdark : #1E1E22
dark: #38383E
lightdark: #4D4D4F

white: #FFF

font-primary: fekoda one
font-secondary: avenir sans


*/
@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dosis:500&display=swap');

body{
      font-family: 'Fredoka One', cursive;
      margin: 0;
      font-size: 18px;
      color: #FFF;  
      background-color: #1E1E22;   
      overflow-x: hidden;
      line-height: 1.3;
}

.game h1{
      font-size: 0px;
}

.game .container{ 
      width: 93.33333333%; /* parent 375 */
      max-width: 410px;
      margin: 0 auto;
      position: relative;
}

.col1{
      width: 8.333333333%;
}

.col2{
      width: 16.6666666%;
}

.col3{
      width: 25%;
}

.col4{
      width: 33.3333333%;  
}

.col5{
   width: 41.6666666667%;   
}

.col6{
      width: 50%;
}

.col7{
      width:  58.3333333333%;
}

.col8{
      width: 66.6666666%
}

.opacity{
      opacity: 0 !important;
      transition: 200ms ease-in;
}

.game .page{
      min-height: calc(var(--vh, 1vh) * 100);
      opacity: 1;
      transition: 200ms ease-in;
}


.game .page-menu{
      background-image: url("assets/images/bg_menu_form.svg"), 
                        url("assets/images/bg_menu_adn.svg"), 
                        url("assets/images/bg_chantil.svg"),
                        url("assets/images/maze.svg");
      background-repeat: no-repeat, no-repeat, no-repeat;
      background-position: right 40%, -140px 120%, 17.6% top, bottom right;
      background-size: 150px, 374px, 350px, 150px;
      /* Media querryes pour background size et position */ 
}

.game .page-menu nav{
      margin: 0 auto;
      padding-bottom: 70px;
}

.game .page-menu nav li{
      margin-bottom: 48px;  /* 38px - 20px de padding */   
}

.game .page-menu nav a{
      cursor: pointer;
      text-align: left;
      font-size: 24px;
      color: #FFF;
      border: none;
      background-color: transparent;
      padding: 20px 25px 20px 0;
}


.game .page-menu nav a:hover{
      transition: 200ms ease-in;
      color: #04E762;     
}


.game .page-menu nav a:before{
      transition: 200ms ease;
      transform: scale(1);

      content: url("assets/images/pot.svg");
      float: left;
      width: 22px;
      margin-right: 10px;
}

.game .page-menu nav a:hover:before{
      animation: size-big-bounce 200ms;
      transform: scale(1.2);
}

.game .page-skills .page-skills__title, .game .page-score .page-score__title, .game .page-tuto__title{
      padding-top: 77px;
      margin-bottom: 3px;
}

.game .page-skills, .game .page-score{
      background-image: url("assets/images/bg_menu_form.svg"), 
                        url("assets/images/bg_menu_adn.svg"), 
                        url("assets/images/bg_chantil.svg"),
                        url("assets/images/maze.svg");
      background-repeat: no-repeat, no-repeat, no-repeat;
      background-position: right 50%, -180px 140%, 20% top, bottom right;
      background-size: 150px, 304px, 300px, 150px;
}

.game .page-game{
      background-color: lightgrey;
}

.game .page-game__nav{
      width: 100%;
      position: absolute;
      background-color: rgba(30, 30, 31, 0.3);
}

.game .page-game__best{
      width: 100%;
      position: absolute;
      top: 85px;
      padding: 15px 0;
      background-color: rgba(30, 30, 31, 0.3);
      text-align: center;
      opacity: 0;
      transition: 100ms ease-in;
}

.game .page-game__best--active{
      opacity: 1;
      transition: 100ms ease-in;
}



.game .page-game__score:after{
      content: 'Nouveau meilleur score';
      width: 100%;
      margin: 0 auto;
      text-align: center;
      background-color: rgba(30, 30, 31, 0.3)
}

.game .page-game__nav ul{
      
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      padding: 10px 0;
}

.game .page-game__nav .page-game__soldes, .game .page-game__nav .page-game__pause{
      background-color: #1E1E24;
      border-radius: 5px;
}



.game .page-game__soldes{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 7px 10px;
            box-sizing: border-box;
}



/* .game .page-game__skills div:first-child{
      margin-bottom: 3px;
} */

.game .page-game__solde{
      display: flex;
      justify-content: space-between;
}

.game .page-game__solde img{
      width: 26px;
}

.game .page-game__pause a{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      transform: scale(1) rotate(0);
      transition: 200ms ease-in;
}

.game .page-game__pause a:hover{
      animation: size-bounce 200ms;
      transform: scale(1.1);
      opacity: 0.6;
}

.game .page-game__skills{
      justify-content: space-between;
      display: flex;

}
.game .page-game__skills div{
      background-color: #1E1E24;
      border-radius: 5px;
      height: 100%;
      width: 49%;
}

.game .page-game__skills [data-name]{
      width: 100%;
      height: 100%;
      display: block;
      opacity: 1;
      transition: 100ms ease-in;
      background-position: 50% 50%;
      background-repeat: no-repeat;

}

.game .page-game__skills [data-name="sticky"]{
      background-image: url("assets/images/skill_sticky.svg");
      background-size: 70%;
}

.game .page-game__skills [data-name="strenght"]{
      background-image: url("assets/images/skill_strong.svg");
      background-size: 80%;
}

.game .page-game__skills [data-name="bound"]{
      background-image: url("assets/images/skill_shield.svg");      
      background-size: 70%;
}

.game .page-game__skills [data-name="jumpy"]{
      background-image: url("assets/images/skill_jumpy.svg");      
      background-size: 70%;
}

.game .page-game__skills [data-state-skill="down"]{
      opacity: 0.5 !important;
      transition: 100ms ease-in;
}

.game .page-game__skills [data-state-skill="up"]{
      animation: size-big-bounce 200ms ease-in;
}


.game .page-tuto__subtitle{
      margin-bottom: 31px;
}

.game .canvas-tutoriel{
      width: 100%;
      background-color: #26262B;
      height: calc(var(--vh, 1vh) * 70);
      border-radius: 40px;
}

.dot{
      color: #04E762;
      margin-left: 2px;
}

.game .page-skills .page-skills__subtitle{
      margin-bottom: 31px;
}

.page-skills .money{

      position: relative;

      display: inline-block;
      margin-bottom: 45px;
}

.page-skills .list-skills h3{
      margin-bottom: 12px;
}

.list-skills ul li{
      margin-bottom: 18px;
}

.list-skills ul li:last-child{
      margin-bottom: 30px;
}

.list-skills__content{
      width: 100%;
      background-color: #E2E2E2;
      border-radius: 9px;
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      position: relative;
      box-shadow: 0px 4px 11px 0px rgba(0,0,0,0.14);
      z-index: 2;
      transition: 300ms ease-in;
      transform: scale(1);
}

.list-skills__content:hover{
      animation: size-bounce 300ms;
      transform: scale(1.1);
      cursor: pointer;
}

.list-skills__description{
      width: 94.3820224719%;
      padding: 11px 13px;
      box-sizing: border-box;
      margin: 0 auto;
      background-color: #FFF;
      border-radius: 0 0 9px 9px;
      color: #38383E;
      /* display: none; */
      z-index: 1;
      opacity: 0;
      transition: 200ms ease-in;
      transform: translateY(-20px);
      opacity: 0;
}

.list-skills__description.isOpen{
      transform: translateY(0px);
      opacity: 1;
      transition: 200ms ease-in;
}

.list-skills__ico{
      display: flex;
      align-items: center;
      justify-content: center;

      border-radius: 9px 0 0 9px;
      background-color: #ECECEC;
}

.list-skills__ico img{max-width: 70%}

.list-skills__name{
      color: #1E1E22;
      padding: 15px 0;
}

.list-skills__name p{
      margin-left: 16.666666666%;
}

.list-skills__state{
      display: flex;
      background-color: #ECECEC;
      border-radius: 0 9px 9px 0px;
      align-items: center;
      justify-content: center;
}

.list-skills__state span{
      border-radius: 20px;
      width: 82.905982906%;
      padding: 6px 0;
      text-align: center;
      transition: 200ms ease-in;
      cursor: pointer;
      box-shadow: 0 0px 0px rgba(0,0,0,.18);
}

.list-skills__state span:hover{
      animation: size-bounce 200ms;
      transform: scale(1.1);
}


.list-skills__state [data-state="equip"]{
      background-color: #1E1E22;
}

.list-skills__state [data-state="unequip"]{
      background-color: #87878A;
}


.list-skills__state [data-state="buy"]{
      background-color: #FF3C3C;
}

/* .list-skills__state--purchase div{
      display: flex;
      align-items: center;
} */


.page-skills .money span{
      position: absolute;
      right: 0;
      bottom: 0;
      background-color: #FF3C3C;
      padding: 2px 8px;
      border-radius: 13px;
}

.game .page-score .page-score__subtitle{
      margin-bottom: 57px;
}

.game .page-score .page-score__subtitle{
      margin-bottom: 57px;
}

.game .page-score .list-score li{
      width: 100%;
      background-color: #E2E2E2;
      border-radius: 6px;
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;
      align-items: stretch;
}


.game .page-score .list-score__ico{
      display: flex;
      align-items: center;
}

.game .page-score .list-score__ico{
      background-color: #FFF;
      text-align: center;
      border-radius: 9px 0 0 9px;
}

.game .page-score .list-score__ico img{
      margin: 0 auto;
}

.game .page-score .list-score__ico--jump img{
      max-width: 35%;
}

.game .page-score .list-score__text{
      background-color: #E2E2E2;
      padding: 6px 0;
}

.game .page-score .list-score__text p{
      margin-left: 16.666666666%;
}



.game .page-score .list-score__count{
      background-color: #FFF;
      border-radius: 0 9px 9px 0 ;
}
.game .page-score .list-score__count div{
      display: flex;
      align-items: center;
      height: 100%;
}

.game .page-score .list-score__count span{
      letter-spacing: 2px;
      border-radius: 14px;
      width: 76%;
      padding: 3px 0;
      margin: 0 auto;
      display: block;
      background-color: #FF3C3C;
      
}

.game .m-classic{
      background-image: url("assets/images/maze.svg");
      background-repeat: no-repeat;
      background-position: bottom right;
      background-size: 150px;
}

.game .m-classic .m-classic__title{
      margin-bottom: 2px;
}

.game .m-classic .m-classic__subtitle{
      margin-bottom: 30px;
}
.game .m-classic .m-classic__text{
      margin: 0 auto 50px auto;
      font-size: 20px;
}

.game .m-classic .m-classic__button{
      color: #1E1E22;
      background-color: #FFF;
      line-height: 42px;
      display: block;
      margin: 0 auto 23px auto;
      border-radius: 9px;
      transform: scale(1);
      transition: 200ms ease-in;
     
      
}

.game .m-classic .m-classic__button:hover{
      transition: 200ms ease-in;
      color: #04E762;
      animation: size-bounce 200ms;
      transform: scale(1.1);
}






.game .back-arrow{
      position: absolute;
      top: 30px;
      min-width: 49px;
      width: 14%; /* 49 350 */
      transition: 200ms ease-in;
      transform: scale(1);
}

.game .back-arrow:hover{
      animation: size-bounce 200ms;
      transform: scale(1.1);
      transition: 200ms ease-in;
}

.title-image{
      padding-top: 95px;
      margin: 0 auto 17px auto;
      display: block;
}

.title-image--big{
      padding-top: 120px;
      margin: 0 auto 75px auto;
}




/* FONT */

/* TITLE */
.title{
      font-size: 24px;
}

.title--big{
      font-size: 45px;
}


.game .subtitle{
      color: #04E762;
}


.title--insane{
      font-size: 60px;
}




.title--big{
      font-size: 40px;
}

.title--medium{
      font-size: 32px;
}

.title--small{
      font-size: 18px;
}

.title--up{
      text-transform: uppercase;
}

/* FONT */

.font-light{
      color: #FFF;    
}

.font-darker{
      color: #1E1E22;
}

.font-green{
      color: #08C455;
}

.font-lighten{
      color: #87878A;
}

.font-secondary{
      font-family: 'Dosis', sans-serif;
}

.font-xl{
      font-size: 56px;
}

.title--great{
      font-size: 32px;
}

.font-small{
      font-size: 18px;
}

/* TOOLS */

.dn{
      display: none;
}

.tac{
      text-align: center;
}

/* LANDING */



.landing .hero{

}

.landing nav{
      opacity: 0;
      position: fixed;
      top: 0;
      width: 100%;
      background-color: #FFF;
      padding: 10px 0;
      z-index: 999;
}

.landing .container{
      width: 80.555555556%; /* 1160 ÷ 1440 */
      max-width: 1160px;
      margin: 0 auto;
      position: relative;
}

.landing .nav{
      color: #1E1E22;
      display: flex;
      justify-content: flex-start;
      align-items: center;

}

.nav__logo svg{
      width: 80%;
      min-width: 100px;
}

.nav__ul{
      display: flex;
}
.nav__ul li{
      margin-left: 35px;
}

.nav__ul a{
      padding: 10px 0;
      transition: 200ms ease-in;
      letter-spacing: 0.75px;
}

.nav__ul a:hover{
      color: #04E762;
}

.nav__ul li:first-child{
      margin-left: 5.91133004897%; /* 40 ÷ (7÷12 * 1160) */ 
}


.nav__button a{
      background-color: #04E762;
      padding: 8px 64px;
      color:#FFF;
      border-radius: 26px;
      letter-spacing: 1px;
      transition: 200ms ease-in;
      box-shadow: inset 0 0 0 0 #04E762;
}

.nav__button a:hover{
      box-shadow: inset 0 0 0 3px #1E1E22;
      color: #1E1E22;
      background-color: #FFF;
}

.landing h1{
      font-size: 0px;
}

.landing .tutoriel{

}

.section--tutoriel{
      background-color: #FFF;
      color: #1E1E22;
      padding: 108px 0 98px 0;
}

.section--skills{
      padding: 210px 0 230px 0; /* */
      background-image: url("assets/images/bg_menu_form.svg"), 
                        url("assets/images/bg_menu_adn.svg"), 
                        url("assets/images/bg_chantil.svg");
      background-repeat: no-repeat, no-repeat, no-repeat;
      background-position: right 50px, -100px 108%, 105% 60%;
      background-size: 220px, 344px, 300px;

}

.skills__title{
      width: 39.5689655172%;
}

.skills__collect{
      margin-top: 130px;
      display: flex;
      justify-content: space-between;
      align-items: center;
}

.collect__text{
      margin-left: 8.62068965517%;
      width: 39.6551724138%;
}

.collect__title{
      margin-bottom: 3px;
}
.collect__subtitle{
      margin-bottom: 24px;
}
.collect__paragraph{
      margin-bottom: 14px;
}

.collect__img{
      margin-right: 8.62068965517%;
      width:  31.0344827586%;
}

.collect__img img{
      max-width: 100%;
}

.skills__pick{
      margin-top: 130px;
      display: flex;
      justify-content: space-between;
      align-items: center;
}

.pick__text{
      width: 39.6551724138%;
      margin-right: 8.62068965517%;
}

.pick__title{
      margin-bottom: 3px;
}
.pick__subtitle{
      margin-bottom: 24px;
}
.pick__paragraph{
      margin-bottom: 14px;
}
.pick__img{
      margin-left: 8.62068965517%;
      width:  31.0344827586%;
}

.pick__img img{
      max-width: 100%;
}


.tutoriel__title{
      line-height: 1.24;
}

.tutoriel__content{
      margin-top: 85px;
      display: flex;
      justify-content: space-between;
}

.tutoriel__guide{
      display: flex;
      flex-wrap: wrap;
      width: 48.275862069%;
      margin: -20px;
}

.guide__el{
      position: relative;
      width: calc(50% - 40px);
      height: 233px;
      border-radius: 42px;
      margin: 20px;
      background-color: #1E1E22;
}

.guide__number{
      position: absolute;
      font-size: 110px;
      color: #04E762;
      transform: translate(-40%, -40%);
      background-color: #FFF;
      width: 100px;
      height: 100px;
      text-align: center;
      border-radius: 50%;
}

.guide__directive{
      left: 25%;
      transform: translateY(-105%);
      font-size: 21px;
      position: absolute;
      color: #04E762;
}

.guide__content{}

.tutoriel__test{
      border-radius: 42px;
      width: 48.275862069%;
      height: 506px;
      background-color: #000;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
}

.tutoriel__test canvas{

      /* width: 100%;
      height: 100%; */
}



.section--hero{
      text-align: center;
      background-image: url("assets/images/banner_hero.png");
      background-size: cover;
      background-position: center top;
      padding: 128px 0 288px 0;
}

.section--incub{
      margin-bottom: 186px;
}

.section--incub .container{
   display: flex;
   justify-content: space-between; 
}

.section--incub img{
      margin-left: 6%; /* col gulter */
}

.section--incub .bloc{
      margin-right: 6%; /* col gulter */    
}


.section--green{
      position: relative;
      top: -70px;
      margin-bottom: 156px;
}

.section--incarnation{
      padding-top: 120px;
}

.incarnation{
      display: flex;
      justify-content: space-between;
      position: relative;
}

.incarnation__img{
      margin-right: 11.6%;
      min-width: 200px;
}

.section--hero svg{
      max-width: 591px;
}

.section--hero h2{
      font-size: 0px;
}

.section--hero img{
      max-width: 100vw;
      position: fixed;
      bottom: 0;
      left: 0;
}

.bloc__title{
      font-size: 56px;
      color: #04E762;
      letter-spacing: 2px;
}
.bloc__subtitle{
      letter-spacing: 2.5px;
      font-size: 32px;
      color: #FFF;
      margin-bottom: 24px;
}

.bloc__text{
      font-size: 22px;
      font-family: 'Dosis', sans-serif;
}

#tuto_canvas{
      width: 100%;
      height: 100%;
}

@media screen and (max-width: 1150px) {
     .section--green .col5{
           /* devient col6 */
            width: 50%;
      }

      .col6.tutoriel__title{
            margin: 0 auto;
            text-align: center;
      }

      .tutoriel__content{
            flex-direction: column;
            width: 70%;
            margin-left: auto;
            margin-right: auto;
      }

      .tutoriel__guide{
            margin: 0 0 20px 0;
            width: 100%;
      }

      .tutoriel__test{
            width: 100%;
      }
       
}

@media screen and (max-width: 1080px) {

      .section--incub img{
            margin-left: 0;
            width: 45%;
      }

      

      .section--incub .bloc{
            margin-right: 0; /* col gulter */    
            width: 41.6666666667%;  
      }



      .section--green .col5{
            width:  58.3333333333%;
      }

      .nav__ul{
            display: none;
      }

      .nav .col2{
            width: 20%;
      }

      .nav .col3{
            width: 20%;
      }

      .landing .nav{
            justify-content: space-between;
      }

      .incarnation .col6{
            /* devient col7 */
            width:  58.3333333333%;
      }
      .incarnation__img{
            margin-right: 0;
      }
}

@media screen and (max-width: 900px) {

      


      .col6.tutoriel__title{
            width: 80%;
      }

      .tutoriel__content{
            width: 100%;
      }

      .incarnation .col6{
            font-size: 45px;
      }

      .section--green{
            margin-bottom: 140px;
      }

      .section--incub .container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
      }

      .section--incub .bloc{
            width: 80%;
            margin-top: 50px;
      }

      .pick__img{
            width: 48.275862069%;
            margin: 0;
      }

      .pick__text{
            width: 48.275862069%;
            margin: 0;
      }

      .collect__img{
            width: 48.275862069%;
            margin: 0;           
      }

      .collect__text{
            width: 48.275862069%;
            margin: 0;
      }
      
}

@media screen and (max-width: 700px) {

      

      .skills__pick{
            margin-top: 100px;
      }
      .section--green .col5{
            /* col8 */
            width: 66.6666666%;
      }

      .section--green{
            top: 0;
            margin-top: 170px;
      }

      .incarnation .col6{
            /* col8 */
            width: 66.6666666%;
      }   

      .incarnation__img{
            position: absolute;
            right: -40%;
            z-index: -1; 
     } 

     .skills__collect, .skills__pick{
            flex-direction: column;
            margin-left: auto;
            margin-right: auto;
            width: 80%;
      }

      
      .collect__text, .pick__img{
            margin-bottom: 40px;
      }

      .pick__img,  .pick__text, .collect__img, .collect__text{
            width: 100%;
      }

      .pick__img, .collect__img{
            text-align: center;
      }
}

@media screen and (max-width: 600px) {

      .nav .col2{
            width: 30%;
      }

      .nav .col3{
            width: 30%;
      }

      .skills__title{
            width: 100%;
            text-align: center;
      }

      .col6.tutoriel__title{
            width: 100%;
      }

      .tutoriel__guide{
            flex-direction: column;
            width: 100%;
            
      }

      .guide__el{
            margin: 0 0 50px 0;
            width: 100%;
      }

      .guide__directive{
            left: 50px;
      }

      .section--incub img{
            width: 60%;
      }

      .section--incub .bloc{
            width: 100%;
      }

      .section--hero svg{
            max-width: 90%;
      }

      .section--green .col5{
            /* col8 */
            width: 100%;
      }

      /* col12 */
      .incarnation .col6{
            width: 100%;
      }  

      .landing .nav__button a{
            padding: 8px 40px;
      }
      
      .incarnation .col6{
            font-size: 36px;
      }
     
}



@media screen and (max-width: 400px) {
      
      

      .landing .nav__button a{
            padding: 8px 20px;
      }
}


@keyframes size-bounce {
  0%   { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1.1); }
}


@keyframes size-big-bounce {
  0%   { transform: scale(1); }
  50% { transform: scale(1.3); }
  100% { transform: scale(1.2); }
}



